*~
*swp
.metadata/
RemoteSystemsTempFiles/
zadanie2/
maptel_test1.c
maptel_test1.err
maptel_test2.cc
maptel_test2.err

# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app
